@page
@model QuizApp.Pages.QuizModel
@{
}

<h3>@ViewData["Title"]</h3>
<hr />
<table class="table table-striped">
    <thread>
        <tr>
            <th scope="col">Quiz Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created By</th>
            <th scope="col">Ations</th>
            <th scope="col">Questions</th>
        </tr>
    </thread>
    <tbody>
         @foreach (var _quiz in Model.Quizzes)
        {
        <tr>
        <th scope="row">@_quiz.QuizId</th>
        <td>@_quiz.Title</td>
        <td>@_quiz.Description</td>
        <td>@_quiz.CreatedBy</td>
        <td><a href="" class="btn btn-secondary">Take the quiz</a></td>
        <td>
        <ul>
        @foreach (var _questionid in _quiz.QuestionId)
        {
            @foreach(var _question in Model.Questions.Where(q => q.QuestionId == _questionid))
            {
                <li>@_question.Content</li>
            }
        } 
        </ul>
        </td>
        
        </tr>
        }
        </tbody>
<div style="position: fixed; bottom: 70px; right: 25px;">
    <a href="/CreateQuiz" class="btn btn-success">Create New Quiz</a>
</div>
