@page
@model QuizApp.Pages.QuizModel
@{
}

<h3>@ViewData["Title"]</h3>
<hr />
<table class="table table-striped">
    <thread>
        <tr>
            <th scope="col">Quiz Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created By</th>
            <th scope="col">Ations</th>
            <th scope="col">Questions</th>
        </tr>
    </thread>
    <tbody>
         @for (var i = 0; i < Model.Quizzes.Count; i++)
        {
        <tr>
        <th scope="row">@Model.Quizzes[i].QuizId</th>
        <td>@Model.Quizzes[i].Title</td>
        <td>@Model.Quizzes[i].Description</td>
        <td>@Model.Quizzes[i].CreatedBy</td>
        <td><a href="" class="btn btn-secondary">Take the quiz</a></td>
        <td>
        <ul>
        @foreach (var _questionid in Model.QuestionId[i])
        {
            <li>@_questionid</li>   
        } 
        </ul>
        </td>
        
        </tr>
        }
        </tbody>
<div style="position: fixed; bottom: 70px; right: 25px;">
    <a href="/CreateQuiz" class="btn btn-success">Create New Quiz</a>
</div>
